body {
    box-sizing: border-box;
    font-family: sans-serif;
    height: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    /*background-color: yellow;*/
}

#root, html {
    height: 100%;
}

#root {
    /*background-color: yellowgreen;*/
}

.Header {
    height: 70px;
    /*background-color: red;*/
}
.Content {
    height: calc(100% - 120px);
    overflow: auto;
}
.Footer {
    height: 50px;
    /*background-color: dodgerblue;*/
}